<%- include('header') -%>
    
<style>

.button-connect {
    display: flex;
    justify-content: center;
}

.button-connect > a {
    padding: 12px 35px;
    border: none;
    background-color: #D1B17F;
    color: #000d3a;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}


</style>
    <body>
        <main>
            <section class="main-catalogue">
                <% for(i=0; i<product.length;i++){ %>
                    <article class="catalogue-article">
                        <img src="../css/img/produits/<%=i+1%>.jpg" alt="Produit <%=i+1%>">
                        <p>
                            <%=product[i].type%>
                            <div class="button-connect">
                                <a href="produit/<%=product[i].id%>">Consulter le produit</a>
                            </div>
                        </p>
                    </article>
                    <%}%>
            </section>
        </main>
    </body>

    <%- include('footer');-%>

        <%if(isAuth){if(role=='admin'){%>
            <style>
                .connexion {
                    margin-left: 500px;
                }
            </style>
            <li><a href="creationgerant">Créer un compte gérant</a></li>
            <%}}%>

        