<%- include('header') -%>

    <body>
        <main>
            <section class="main-catalogue">
                <% for(i=0; i<product.length;i++){ %>
                    <article class="catalogue-article">
                        <img src="../css/img/produits/<%=i+1%>.jpg" alt="Produit <%=i+1%>">
                        <p><%=product[i].type%></p>
                        <%if(isAuth){if(role=='agent'){%>
                            <a href="removeproduct">Supprimer un produit</a>
                        <%}}%>
                    </article>
                    <%}%>
            </section>
        </main>
    </body>

    <%- include('footer');-%>

    <%if(isAuth){if(role=='admin'){%>
        <style>.connexion {margin-left:500px;}</style>
    <li><a href="creationgerant">Créer un compte gérant</a></li>
    <%}}%>